{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter séance</title>
{% endblock %}

{% block body %}
<main class="edit-main">
    <h1>Ajouter une séance</h1>

    <form action="/seance/add" method="post">
        <input name="id_seance" id="id_seance" type="hidden">
        <label for="libelle_seance">Libellé de la séance :</label>
        <input required type="text" id="libelle_seance" name="libelle_seance">
        <br>
        <label for="date_seance">Date de la séance : </label>
        <input required type="datetime-local" id="date_seance" name="date_seance">
        <br>
        <label for="place_seance">Nombre de place : </label>
        <input required type="number" name="place_seance" id="place_seance">
        <br>
        <label for="tarif">Tarif : </label>
        <input required type="number" name="tarif" id="tarif">

        <br><label for="code_atelier">Type d'atelier : </label>
        <select required name="code_atelier" id="code_atelier">
            {% for atelier in ateliers %}
                <option
                    class="option-item"
                    value="{{ atelier.code_atelier }}"
                >{{ atelier.code_atelier }}&nbsp;-&nbsp;{{ atelier.libelle_atelier }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="id_lieu">Lieu</label>
        <select name="id_lieu" id="id_lieu">
            {% for lieu in lieux %}
            <option
                    class="option-item"
                    value="{{ lieu.id_lieu }}"
                >{{ lieu.id_lieu }}&nbsp;-&nbsp;{{ lieu.nom_lieu }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Ajouter">
    </form>
</main>
{% endblock %}