:root {
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid;
}
.menu img {
  height: 60px;
  padding-right: 1rem;
  border-right: 1px solid;
}
.menu .nav-buttons {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
}
.menu a {
  display: block;
  margin-right: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  background: #aaa;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  transition: filter 300ms ease;
}
.menu a.green {
  background: #339d42;
}
.menu a:hover {
  filter: brightness(110%);
}

main h1 {
  text-align: center;
}

.list-seance {
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.seance-card {
  border: 1px solid;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 20px;
}
.seance-card.card-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed;
}
.seance-card.card-add h3 {
  margin-top: 0;
}
.seance-card.card-add a {
  display: block;
  background: #339d42;
  width: max-content;
}
.seance-card a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background: #aaa;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  transition: filter 300ms ease;
  display: inline-block;
}
.seance-card a:hover {
  filter: brightness(110%);
}
.seance-card .list-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.seance-card a.seance-edit {
  background: #339d42;
}
.seance-card a.seance-delete {
  background: #d25f5f;
}

.option-item {
  outline: none;
}

.edit-main {
  margin: 0 5rem;
}
.edit-main label {
  display: inline-block;
  width: 150px;
  margin: 0.5rem 0;
}

.show-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.show-header a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background: #339d42;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  transition: filter 300ms ease;
  display: inline-block;
}
.show-header a:hover {
  filter: brightness(110%);
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid;
  margin: 0;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

tr:nth-child(2n) {
  background: #ccc;
}

main.etat-seance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtre-seance-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding-bottom: 1rem;
  border-radius: 8px;
}
.filtre-seance-container .filtre-seance {
  padding: 0 1.5rem;
}

.etat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.etat-form > input {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background: #339d42;
  color: #fff;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: filter 300ms ease;
}
.etat-form > input:hover {
  filter: brightness(110%);
}

.center-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
