{% extends 'layout.html' %}


{% block title %}
    <title>afficher les articles</title>
{% endblock %}


{% block body %}
<h3>Article</h3>
<a href="/article/add">ajouter un article</a>
<br><br>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nom</td>
            <td>ID type article</td>
            <td>Prix</td>
            <td>Stock</td>
            <td>Description</td>
            <td>Image</td>
            <td>Opération</td>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            {% for k in article %}
                <td>
                {% if k == "image" %}
                    {% if article[k] != None %}
                        <img width="100"  src="../static/images/{{ article[k] }}" alt="{{ article[k] }}">
                    {% else %}
                        <img width="100" src="../static/images/no_photo.jpeg" alt="404">
                    {% endif %}
                {% else %}
                    {{ article[k] }}
                {% endif %}
                </td>
            {% endfor %}
            <td>
              <a href="/article/edit?id={{ article.id }}">editer</a>&nbsp;
              <a href="/article/delete?id={{ article.id }}" >supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}